/* Background Image made by: https://www.waneella.com/ */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(126, 112, 192);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: white;
  text-shadow: 2px 2px rgb(126, 112, 192);
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  max-width: 80rem;
}

.left-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  background: url(https://64.media.tumblr.com/451bca19ad0b695c08b54b4287e4f935/tumblr_nb70h5f6XN1rnbw6mo2_r1_1280.gifv) no-repeat center;
}

.left-container_title > img {
  width: 3.5rem;
  margin-right: 20px;
}

.left-container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 15px;
  padding: 10px 50px;
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.left-container_credits {
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnViYmxlcyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80) no-repeat center;
}

.right-container > h3 {
  font-size: 2rem;
  color: white;
  padding-left: 50px;
  padding-right: 50px;

  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.right-container > h3:nth-child(1)::after {
  content: ' Sign up now to get started.';
  display: block;
}

.form-container {
  position: relative;
  padding: 0 0 35px 50px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(241, 239, 239, 0.6);
}

.form-container > h3 {
  margin-top: 20px;
}

.names-fields, .email-phone-fields, .password-fields {
  display: flex;
  gap: 50px;
}

.first-name, .last-name, .email-field, .phone-field, .password1, .password2 {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

label {
  padding-top: 20px;
  margin-bottom: 4px;
  font-size: .8rem;
  letter-spacing: 3px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(76, 129, 241, 0.5);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
  outline: none;
}

input:focus {
  box-shadow: 0 0 0 1px rgba(121, 98, 226, 0.808);
}

input:invalid {
  border: 1px solid rgb(194, 123, 123);
}

input:valid {
  border: 1px solid rgba(61, 196, 155, 0.5);
}

button {
  position: absolute;
  top: 19rem;
  width: 20%;
  padding: 10px 0;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  background-color: rgba(152, 146, 180, 0.788);
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 0 0 3px rgba(152, 146, 180, 0.788);
  color: rgb(152, 146, 180);
  background-color: white;
}

.sign-in {
  margin: 50px 0 0 50px;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 950px) {
  .main-container {
    flex-direction: column;
  }

  .right-container {
    align-items: center;
  }

  .right-container > h3 {
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  form {
    padding-bottom: 20px;
  }

  .names-fields, .email-phone-fields, .password-fields {
    flex-direction: column;
    gap: 0;
  }

  .first-name, .last-name, .email-field, .phone-field, .password1, .password2 {
    display: flex;
  }

  input {
    width: 100%;
  }

  button {
    top: 105%;
    left: 7.4rem;
    width: 40%;
  }

  .sign-in {
    margin: 50px 0 0 0;
    padding: 0;;
    padding-bottom: 20px;
  }
}